= wrap_layout :layout do
  - unless current_article.nil?
    .post
      .data
        %span.date= current_article.date.strftime '%e %B %Y'
        .tags_list
          - current_article.tags.each do |tag, articles|
            = link_to tag, tag_path(tag)
      .content
        %h1= current_article.title
        = yield
        = disqus
        = disqus_count