!!! 5
%head
  %meta{charset: 'utf-8'}
  %meta{content: 'IE=edge,chrome=1', http_equiv: 'X-UA-Compatible'}
  %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}
  %link{href: 'https://fonts.googleapis.com/css?family=Oxygen:300,400,700', rel: 'stylesheet', type: 'text/css'}
  %title= (current_article.title unless current_article.nil?) || 'Dane Lowe - A blog about Ruby, Rails and Magento' #(current_page.title unless current_page.nil? || 'Dane Lowe'
  = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
  = stylesheet_link_tag 'all'
  = javascript_include_tag 'all'
%body{class: page_classes}
  %header
    %section.container
      %strong= link_to 'Dane Lowe', '/'
      .tags_list
        - blog.tags.each do |tag, articles|
          = link_to tag, tag_path(tag)
  %section.container#content= yield
  %footer
    %section.container
      .column
        %h2 Recent Articles
        %ol
          - blog.articles[0...10].each do |article|
            %li= link_to article.title, article

      .column
        %h2 Tags
        %ol
          - blog.tags.each do |tag, articles|
            %li= link_to tag+' ('+articles.size.to_s+')', tag_path(tag)

      .column
        %h2 About
        %p Hi. I'm Dane, a web developer that works with Magento, Ruby and HTML/CSS/JS
        %p
          %span.e dane
